@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-padding-top: 5rem;
  /* 80px for fixed navbar */
}

body {
  @apply bg-gray-50 text-gray-800 font-sans antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans text-accent tracking-tight;
}

.section-padding {
  @apply py-8 md:py-16;
}

.btn-primary {
  @apply bg-[#D4B878] text-primary px-6 py-3 rounded font-bold hover:scale-105 transform transition-all duration-300 uppercase tracking-wide;
}

.btn-secondary {
  @apply border border-accent text-accent px-6 py-3 rounded font-bold hover:bg-accent hover:text-primary transition-colors duration-300 uppercase tracking-wide;
}

/* Marquee Animation */
.animate-marquee {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}